<%= simple_form_for @category, :html => { :class => 'form-horizontal' }, remote: true do |f| %>
  <div id="error_div"></div>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :image %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categories_path, :class => 'btn btn-default' %>
<% end %>
